.panda-bg-info{
    background-color: #FEEAE9;
}
.cetagoris-1{
    background-color: orange;
}
.cetagoris-2{
    background-color: orchid;
}
.cetagoris-3{
    background-color: blue;
}
.cetagoris-1,.cetagoris-2,.cetagoris-3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cetagoris-1 img,.cetagoris-2 img,.cetagoris-3 img{
    width: 100px;

}
.panda-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}